*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/hero.jpg);
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    z-index: 999;
    
}
header h1{
    font-weight: bold;    
    margin: 0;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
}
.hero-in{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-in img{
    height: 50px;
    margin-top: 20px;
}
.hero-bg{
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center center;
    align-items: center;
    text-align: center;
    color: white;

}
header a{
    text-decoration: none;
    color: white;
}
header nav{
    margin: 10px 0;
    display: flex;
    align-items: flex-end;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
header nav ul li a{
    margin: 0 30px;
    font-size: 1.55vw;
    font-weight: lighter;
}
header nav li a:hover{
    text-decoration: underline;
}
body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: rgb(116, 115, 115);
}

.bio{
    background-color: rgb(116, 115, 115);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 18px;
}
.bio p{
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    line-height: 1;

}
#about-me{
    max-width: 800px;
}
.bio .me-img{
    width: 380px;
    height: auto;
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.work{
    height: 200vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
}
.work h2{
    color: white;
    padding-top: 60px;
    text-align: center;
}
.contact{
    padding-top: 60px;
}
.contact h2{
    color: white;
    padding-top: 60px;
    text-align: center;
    font-size: 1em;
}   
.contact .e-p{
    text-decoration: none;
    color: black;
    list-style: none;
    padding-top: 60px;
    font-size: 1em;
}
.f-work{
    display: flex;
}
.f-contact{
    display: flex;
}
section{
    padding: 60px;
}
